<aside>
  <div class="asideMain">
    <div class="brandLogo justify-content-start pt-5">
    </div>
    <div class="sidebarMenu">
      <!-- <div  [routerLink]="['/modules']" class="back-modules-res">
        <i class="fa-light fa-arrow-left-to-line  me-1 opacity-75"></i>
       <span>{{moduleName}}</span>
      </div> -->
      <ul class="sideUl">
        <div class="resLi">
          <span *ngFor="let item of menuValue">
            <span *ngIf="item.subMenuExistStatus">
              <span>
                <mat-accordion  >
                  <mat-expansion-panel >
                    <mat-expansion-panel-header class="accordionMin">
                      <mat-panel-title>
                        <mat-list-item >
                          <div fxLayout="row" class="row subHeader align-items-center" fxLayoutAlign="space-between center">
                            <div class="col-12 subIconMin">
                              <img  src="../../assets/icon/stockOperations/{{item.icon}}" alt="">
                              <a > {{item.value}}</a>

                            </div>

                          </div>
                        </mat-list-item>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="span" *ngFor="let item2 of menuValue">
                      <mat-list-item class="subList"  *ngIf="item2.parentId>0 && item.id==item2.parentId"
                        [routerLink]="item2.link"  routerLinkActive="routerLinkActive">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <a> {{item2.value}}</a>
                        </div>
                      </mat-list-item>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </span>
            </span>
            <!-- <span *ngIf="!item.children || item.children.length === 0"> -->
            <mat-list-item [routerLink]="item.link" routerLinkActive="routerLinkActive"
              *ngIf="!item.subMenuExistStatus && item.parentId==null ">
              <div fxLayout="row" class="row align-items-center" fxLayoutAlign="space-between center">
                <div class="col-12 iconMin">
                  <i class={{item.icon}}></i>
                     <a > {{item.value}}</a>

                </div>

              </div>
            </mat-list-item>
            <!-- </span> -->
          </span>

        </div>
      </ul>

    </div>
  </div>
</aside>
<header>
  <div class="head">
    <div>
      <div class="hamburger" id="hamburger-4">
        <i  style="color: #6E7A78;" class="fa-solid fa-bars" ></i>
      </div>
      <div  >
       <span >İmtahan proqramı</span>
      </div>
    </div>
    <div class="headChild2">
      <div class="col-lg-12 d-flex notf">

        <div class="avatar d-flex">

        </div>
      </div>

    </div>
  </div>
</header>
<main class="main">
  <div >
    <router-outlet></router-outlet>
  </div>
</main>

