::ng-deep.mat-menu-item{
    line-height: 35px!important;
    height: 35px!important;
    font-family: Poppins, sans-serif;
  }
  
  ::ng-deep.mat-menu-item img{
    margin-right: 10px;
  }
  .mat-row:nth-child(even){
  background-color: rgb(245, 242, 242);
  }
  
  .mat-row:nth-child(odd){
  background-color: #fff;
  }
 
  
  .field{
    margin: 0 5px;
  }
  .inline{
  display: inline!important;
  }
  .field input{
    margin-bottom: 0!important;
  }
  .excelIcon{
  height: 36px;
  }
  .numberTd{
  text-align: right!important;
  }
  .spinner{
  background-color: transparent!important;
  }
  .order-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  }
  
  .order-header h1 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  }
  ::ng-deep .ngx-spinner-overlay {
  background-color: transparent!important;
  }
  .field label::before {
    left: 10px;
    overflow: hidden;
    max-width: 170px;
    text-align: start;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .customWidth{
    width: 135px;
  }
  
  .mat-header-cell {
  padding: 0 !important;
  }
  
  @media only screen and (max-width: 768px){
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0 !important;
    width: 50px;
  }
  }
  
  
  br{
  display: none;
  }
  @media only screen and (max-width: 416px){
  .header{
  display: block;
  width: 100%;
  }
  .btnBox{
  .col-11{
    justify-content: start!important;
    button{
      margin-left: 0!important;
    }
  
  }
  }
  }
  .w-12{
    width: 12pc !important;
  }
