
<div class="content">
    <div class="order-header row align-items-center">
      <div class="col-4 header" >
        <h1 >İmtahanlar</h1>
      </div>
      <div class="col-8 btnBox">
        <div class="d-flex justify-content-end">
  
        <button class="mx-3"(click)="openDialog()"   >Yeni</button>
          <img
          src="../../../../assets/img/ExcelIcon.svg"
          alt=""
          class="excelIcon"
         (click)="excelExport()"

        />
      </div>
      </div>
  
    </div>
    <div class="example-container mat-elevation-z8">
      <form [formGroup]="filterForm" >
        <table mat-table [dataSource]="dataSource">
     <!-- statusID :
     4 -testiqlenmis
     3 - qaralama
     2-legv et  -->
          <ng-container matColumnDef="operation" class="" sticky="true">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let row;let i=index">
              <i  style="color: #6E7A78;" class="fa-solid fa-bars"  [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
              
                <button mat-menu-item (click)="openDialog(row.id,row?.code,row?.no,row?.date,row?.point)" 
  
                ><i class="fa-solid fa-pen me-2" style="color: #6E7A78;"  ></i><span>Redaktə et</span></button>
                <button mat-menu-item  (click)="openDialog(row.id,row?.code,row?.no,row?.date,row?.point,true)"
                 ><i style="color: #6E7A78;"  class="fa-solid fa-eye me-2"></i><span>Bax</span></button>
  
                <button mat-menu-item  (click)="deleteExam(i)"  ><i style="color: #6E7A78;"  class="fa-solid fa-trash me-2"></i>
                  <span>Sil</span>
                </button>
           
              </mat-menu>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="customWidth">
              <div class="field">
                <input type="text" required autocomplete="off" id="no" formControlName="no"
                  (keyup)="handleKeyUp($event)"
                  enterkeyhint="done"
  >
                <label for="no" title="Şagird No"></label>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.no}}
            </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="customWidth">
              <div class="field">
                <input type="text" required autocomplete="off" id="code" formControlName="code"
                  (keyup)="handleKeyUp($event)"
                  enterkeyhint="done"
  >
                <label for="name" title="Dərsin kodu"></label>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.code}}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="customWidth">
              <div class="field">
                <input type="text" required autocomplete="off" id="date" formControlName="date"
                  (keyup)="handleKeyUp($event)"
                  enterkeyhint="done"
  >
                <label for="date" title="İmtahan tarixi"></label>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.date }} </td>
          </ng-container>
          <ng-container matColumnDef="point">
            <th mat-header-cell *matHeaderCellDef class="customWidth">
              <div class="field">
                <input type="text" required autocomplete="off" id="point" formControlName="point"
                  (keyup)="handleKeyUp($event)"
                  enterkeyhint="done"
  >
                <label for="point" title="Qiyməti"></label>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.point}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </form>
    </div>
    <nav id="datatablePagination" aria-label="Activity pagination">
      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons>
      </mat-paginator>
    </nav>
  </div>
  